<section class="feature-navigation mb-5">
    <div class="row g-3 justify-content-center">
        <div class="col-6 col-md-3">
            <a href="{{ url_for('main.index') }}" class="nav-card {{ 'active' if request.endpoint == 'main.index' }}">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-fire-flame-curved"></i>
                </div>
                <span>Sách Nổi Bật</span>
            </a>
        </div>

        <div class="col-6 col-md-3">
            <a href="{{ url_for('main.book_list', sort='new') }}"
                class="nav-card {{ 'active' if request.args.get('sort') == 'new' }}">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-bolt"></i>
                </div>
                <span>Sách Mới</span>
            </a>
        </div>

        <div class="col-6 col-md-3">
            <a href="{{ url_for('main.book_list') }}"
                class="nav-card {{ 'active' if request.endpoint == 'main.book_list' and not request.args.get('sort') }}">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-book-bookmark"></i>
                </div>
                <span>Tủ Sách</span>
            </a>
        </div>

        <div class="col-6 col-md-3">
            <a href="{{ url_for('main.categories') }}"
                class="nav-card {{ 'active' if request.endpoint == 'main.categories' }}">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-layer-group"></i>
                </div>
                <span>Danh Mục</span>
            </a>
        </div>
    </div>
</section>